.productlist_container {
  /* border: 1px solid #000; */
  height: 400px;
  width: 290px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 5px 8px 21px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 8px 21px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 8px 21px -4px rgba(0, 0, 0, 0.75);
}

.cart_image_container {
  height: 200px;
  width: 290px;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 5px;
}

.description {
  margin-bottom: 20px;
  padding: 5px;
}

.bottom_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.view_button {
  margin-left: 20px;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  background-color: yellow;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}

.view_button:hover {
  box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 15px -8px rgba(0, 0, 0, 0.75);
}

.view_button:active {
  background-color: rgb(146, 137, 7);
}

.price_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ruppee {
  font-size: 14px;
}

.price_value {
  font-size: 30px;
}
